@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: transparent;
  vertical-align: baseline;
  letter-spacing: 0.1px;
}

p {
  width: 60%;
  margin: 25px auto;
  font-size: 16px;
  line-height: 1.4rem;
  letter-spacing: 1px;
}

body {
  font-family: "Space Mono", monospace;
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 1.7;
}

button {
  font-family: "Space Mono", monospace;
  font-weight: 900;
  font-style: italic;
  font-size: 16px;
}

figure {
  color: #212121;
  font-size: small;
  font-family: "Darker Grotesque", sans-serif;
}

h1 {
  font-family: "Space Mono", monospace;
  font-weight: 900;
  font-size: 5rem;
  font-style: italic;
}

p {
  font-family: "Darker Grotesque", sans-serif;
}

.btn {
  width: 0;
  height: 0;
  border-left: 3rem solid transparent;
  border-right: 3rem solid transparent;
  border-bottom: 4rem solid #cb6ce6;
  background-color: transparent;
  cursor: pointer;
  font-size: small;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 1000ms;
  margin-left: auto;
  margin-right: auto;
}
.btn:hover {
  transform: scale(1.15);
}

.face {
  display: grid;
  grid-template: 89vh/1fr 1fr;
}
@media screen and (max-width: 799px) {
  .face {
    display: block;
  }
  .face__dark {
    background-image: url("../public/img/milkyway.jpg");
    background-size: cover;
    opacity: 0.85;
    color: #b9b9b9;
    padding: 3em;
    mix-blend-mode: hard-light;
  }
}
.face__img {
  margin: auto;
}
.face__dark {
  grid-row: 1/3;
  grid-column: 1/2;
  text-align: left;
  color: white;
  padding: 3em;
  z-index: 10;
}
.face__light {
  grid-row: 1/3;
  grid-column: 2/3;
  text-align: right;
  padding: 3em;
}

.preview {
  margin: 3em;
}
.preview__title {
  height: 1px;
  background: #cb6ce6;
  border-bottom: #FFF solid 1px;
  margin-bottom: 30px;
  position: relative;
}
.preview__title h3 {
  text-align: center;
  background: #FFF;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  text-align: center;
  display: block;
  color: #cb6ce6;
  text-transform: uppercase;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 1px;
  padding: 0px;
}
.preview .preview__img {
  display: flex;
}
.preview .preview__img figure {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;
  width: calc(100vw/4);
  padding: 0.75em;
  box-shadow: 1px 3px rgba(0, 0, 0, 0.2);
  margin: auto;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 1000ms;
}
.preview .preview__img figure:hover {
  transform: scale(1.15);
}
.preview .preview__img img {
  object-fit: cover;
  height: 13vw;
  width: 23vw;
  opacity: 0.5;
  -moz-opacity: 0.5;
}
.preview .preview__img img:hover {
  opacity: 1;
}
.preview .preview__img figucation {
  height: 8vw;
  width: 23vw;
  overflow: hidden;
}

@media screen and (max-width: 799px) {
  .preview__img {
    flex-direction: column;
    justify-content: center;
  }
  .preview__img figure {
    width: 50vw !important;
    height: 50vw;
    margin-top: 2em !important;
  }
  .preview__img img {
    width: 40vw !important;
    height: 35vw !important;
    opacity: 1 !important;
  }
  .preview img:hover {
    opacity: none;
  }
  .preview figure:hover {
    transform: none;
  }
}
@media screen and (min-width: 800px) {
  @keyframes move {
    0% {
      left: 640px;
      background: url("../public/img/milkyway.jpg") no-repeat center;
      -webkit-background-size: cover;
      /* pour anciens Chrome et Safari */
      background-size: cover;
      /* version standardisée */
      opacity: 0.85;
      color: #b9b9b9;
      padding: 3em;
      mix-blend-mode: hard-light;
    }
    50% {
      left: 320px;
    }
    100% {
      left: 0;
    }
  }
  .box {
    position: absolute;
    left: -60vw;
    width: 50vw;
    height: 40vw;
    background: url("../public/img/milkyway.jpg") no-repeat center;
    -webkit-background-size: cover;
    /* pour anciens Chrome et Safari */
    background-size: cover;
    /* version standardisée */
    opacity: 0.85;
    mix-blend-mode: hard-light;
    animation: move 800ms forwards linear 2s 3 alternate;
  }
}
.footer {
  display: flex;
  flex-flow: column nowrap;
}
.footer__content {
  display: grid;
  grid-template: auto/1fr 1fr 1fr;
  justify-items: center;
  background: #f5f5f5;
  padding: 1.5%;
  color: #666666;
  text-align: center;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
.footer__content li {
  display: inline;
  margin: auto;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "Darker Grotesque", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  background-color: #212121;
  color: #b9b9b9;
  padding: 1.5%;
  height: 11vh;
  z-index: 10;
}
header img {
  width: 10%;
}
header img--rotDegrees {
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
}
header img--rotTurns {
  background: pink;
  transform: rotate(-1turn);
  transition: transform 500ms ease-in-out;
}
header .nav li {
  display: inline;
}
header .light {
  background: rgba(255, 255, 255, 0);
  color: black;
}

@media screen and (min-width: 800px) {
  nav input {
    display: none;
  }
  nav .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    width: 50vw;
  }
  nav .nav__link {
    display: inline !important;
    padding: 0.5em;
  }
}
@media screen and (max-width: 799px) {
  nav .nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background: #212121;
    transform: translateX(100%);
    transition: transform 0.8s ease;
    font-size: 25px;
  }
  nav .nav__topic {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    bottom: 0;
    padding: 2em;
  }
  nav .nav__network {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 5em 2em;
  }
  nav .nav__network li:nth-child(3) {
    color: #cb6ce6;
  }
  nav input {
    display: none;
  }
  nav label {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    margin: 10px;
    padding: 10px;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
  }
  nav label span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #b9b9b9;
    margin: 4px 0;
  }
  nav ul {
    padding: 0;
  }
  nav input:checked + label + .nav {
    transform: translateX(0);
  }
}
.pageAbout {
  min-height: calc(100vh - 40px);
}

.about {
  margin: 3em;
  background: linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
  background-attachment: fixed;
}
.about__title {
  height: 1px;
  background: #cb6ce6;
  border-bottom: #FFF solid 1px;
  margin-bottom: 30px;
  position: relative;
  margin-bottom: 30px;
}
.about__title h3 {
  text-align: center;
  background: #fafafa;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  text-align: center;
  display: block;
  color: #cb6ce6;
  text-transform: uppercase;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 1px;
  padding: 0px;
}
.about__title__content {
  display: flex;
  flex-flow: row nowrap;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

.about__content {
  margin: 0 auto;
  width: 60%;
}

.item {
  font: 300 36px sans-serif;
  line-height: 1.3;
  padding: 100px 100px;
  text-align: center;
  color: white;
  cursor: pointer;
  clear: both;
  overflow: hidden;
}

.item:hover {
  animation: remove 1s linear 0s 1 forwards;
  -webkit-animation: remove 1s linear 0s 1 forwards;
}

@-webkit-keyframes remove {
  0% {
    opacity: 1;
    max-height: 1000px;
  }
  99.9% {
    opacity: 0;
    max-height: 0px;
    padding: 0px 100px;
  }
  100% {
    opacity: 0;
    max-height: 0;
    padding: 0px 0px;
    animation: poof 0.1s linear 0s 1;
    -webkit-animation: poof 0.1s linear 0s 1;
  }
}
@keyframes remove {
  0% {
    opacity: 1;
    max-height: 1000px;
  }
  99.9% {
    opacity: 0;
    max-height: 0px;
    padding: 0px 100px;
  }
  100% {
    opacity: 0;
    max-height: 0;
    padding: 0px 0px;
    animation: poof 0.1s linear 0s 1;
    -webkit-animation: poof 0.1s linear 0s 1;
  }
}
@-webkit-keyframes poof {
  from {
    display: flex;
  }
  to {
    display: none;
  }
}
@keyframes poof {
  from {
    display: flex;
  }
  to {
    display: none;
  }
}
.home {
  display: flex;
  flex-flow: column nowrap;
}

body {
  margin: 0;
}

.about {
  min-height: calc(100vh - 40px);
}

.portfolio {
  margin: 3em;
}
.portfolio__title {
  height: 1px;
  background: #cb6ce6;
  border-bottom: #FFF solid 1px;
  margin-bottom: 30px;
  position: relative;
}
.portfolio__title h3 {
  text-align: center;
  background: #fafafa;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  text-align: center;
  display: block;
  color: #cb6ce6;
  text-transform: uppercase;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 1px;
  padding: 0px;
}
.portfolio__img {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.portfolio figure {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;
  width: calc(100vw/4);
  margin: 0.75em;
  padding: 0.75em;
  box-shadow: 1px 3px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition-property: transform;
  transition-duration: 1000ms;
}
.portfolio figure:hover {
  transform: scale(1.15);
}
.portfolio img {
  object-fit: cover;
  height: 13vw;
  width: 23vw;
  opacity: 0.5;
  -moz-opacity: 0.5;
}
.portfolio img:hover {
  opacity: 1 !important;
}
.portfolio figucation {
  height: 8vw;
  width: 23vw;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
