@import "../utils/variable";

*,
*::after,
*::before
{
    margin: 0;
    padding: 0;
    box-sizing: content-box; // Opera/IE 8+
    -moz-box-sizing: content-box; // Firefox, autres Gecko
    -webkit-box-sizing: content-box; // Safari/Chrome, others WebKit 
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box; // Opera/IE 8+
    -moz-box-sizing: border-box; // Firefox, autres Gecko
    -webkit-box-sizing: border-box; // Safari/Chrome, others WebKit 
    background: $--color-primary;
    vertical-align: baseline;
    letter-spacing: .1px;
}

p {
    width: 60%;
    margin: 25px auto;
    font-size: 16px;
    line-height: 1.4rem;
    letter-spacing: 1px;
}