@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');
@import "../utils/variable";

body {
    font-family: 'Space Mono', monospace;
    //color: $--color-primary;
    font-size: 1.8rem;
    font-weight: 100;
    line-height: 1.7;
}

button {
    font-family: 'Space Mono', monospace;
    font-weight: 900;
    font-style: italic;
    font-size: 16px;
}

figure {
    color: $--color-secondary;
    font-size: small;
    font-family: "Darker Grotesque", sans-serif;
}

h1 {
    font-family: 'Space Mono', monospace;
    font-weight: 900;
    font-size: 5rem;
    font-style: italic;
}

p {
    font-family: 'Darker Grotesque', sans-serif;
}

// button {
//     font-family: small;
// }