@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

body {
    font-family: 'Space Mono', monospace;
    //color: $--color-primary;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.7;
}

h1 {
    font-family: 'Space Mono', monospace;
    font-weight: 900;
    font-size: 5rem;
    font-style: italic;
}

button {
    font-family: 'Space Mono', monospace;
    font-weight: 900;
    font-style: italic;
    font-size: 2.75rem;
}