@import "./variable";


// LIGHT THEME
@mixin theme($light-theme: true) {
    @if $light-theme {
        background: lighten($--color-primary, 100%);
        color: darken($--color-five, 100%);
    }
}

@mixin flexCenter ($flexFlow) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: $flexFlow;
}

@mixin face ($position, $zindex) {
    //width: 100vw;
    //height: 100vw;
    position: $position;
    z-index: $zindex;
}