// :root {
//     --primary-color: yellow;
//     --accent-color: orange;
//     --text-color: grey;
// }

// VARIABLES 
$--color-primary: transparent;
$--color-secondary: #212121;
$--color-third: #5a2ca9;
$--color-fourth: #2962ff;
$--color-five: #b9b9b9;
$--color-shadow: rgba(0, 0, 0, 0.2);
$--color-logo: #cb6ce6;

// MAP
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 2000
);

$font-size: (
    "small": 1em,
    "medium": 2em,
    "large": 3em,
);
