@import "../utils/mixin";
@import "../utils/variable";

.face {
    display: grid;
    grid-template: 89vh/ 1fr 1fr;

    @media screen and (max-width: 799px) {
        display: block;

        &__dark {
        background-image: url("../public/img/milkyway.jpg"); //Photo by Greg Rakozy on Unsplash
        background-size: cover;
        opacity: 0.85;
        color: $--color-five;
        @include desc;
        mix-blend-mode: hard-light;
        }
    }

    &__img {
        margin: auto;
    }

    &__dark { 
        grid-row: 1 / 3;
        grid-column: 1 / 2;
        text-align: left;
        color: white;
        @include desc;
        z-index: 10;
    }

    &__light { 
        grid-row: 1 / 3;
        grid-column: 2 / 3;
        text-align: right;
        @include desc;
    }
}

.preview {
    margin: 3em;

    &__title {
        height: 1px;
        background: $--color-logo;
        border-bottom:#FFF solid 1px;
        margin-bottom: 30px;
        position: relative;

        h3 {
            text-align: center;
            background:#FFF;
            position: absolute;
            top: -10px;
            left: 50%;
            margin-left: -150px;
            width: 300px;
            text-align: center;
            display: block;
            color:$--color-logo;
            text-transform: uppercase;
            font-size: 14px;
            font-size: 1.4rem;
            font-weight: normal;
            letter-spacing: 1px;
            padding: 0px;
        }
    }

        .preview__img {
            display: flex;

            figure {
                @include flexCenter(column nowrap);
                width: calc(100vw/4);
                //margin: .75em;
                padding: .75em;
                @include shadow;
                margin: auto;
        
                // HOVER ANIMATION 
                transform: scale(1);
                transition-property: transform;
                transition-duration: 1000ms;
            
                &:hover {
                transform: scale(1.15);    
                }
            }

            img {
                object-fit: cover;
                height: 13vw;
                width: 23vw;
                opacity: .5;
                -moz-opacity : .5; 
            }
        
            img:hover {
                opacity: 1;
            }
        
            figucation {
                height: 8vw;
                width: 23vw;
                overflow: hidden;
            } 
        
        }

}

@media screen and (max-width: 799px) {
    .preview {

        &__img {
            flex-direction: column;
            justify-content: center;

            figure {
                width: 50vw !important;
                height: 50vw;
                margin-top: 2em !important;
            }

            img {
                width: 40vw !important;
                height: 35vw !important;
                opacity: 1 !important;
            }
        }
    
        img:hover {
            opacity: none;
        }
    
        figure:hover {
            transform: none;    
        }
    } 
}

// DESKTOP ANIMATION

@media screen and (min-width: 800px) {

    @keyframes move {
        0% {
        left: 640px;

        // BACKGROUND
        background: url("../public/img/milkyway.jpg") no-repeat center; //Photo by Greg Rakozy on Unsplash
        -webkit-background-size: cover; /* pour anciens Chrome et Safari */
        background-size: cover; /* version standardisée */
        opacity: 0.85;
        color: $--color-five;
        @include desc;
        mix-blend-mode: hard-light;
        }
        50% {
        left: 320px;
        }
        100% {
        left: 0;
    }
  } 
  
  .box {
    position: absolute;
    left: -60vw;
    width: 50vw;
    height: 40vw;

    // BACKGROUND
    background: url("../public/img/milkyway.jpg") no-repeat center; //Photo by Greg Rakozy on Unsplash
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    opacity: 0.85;
    //@include desc;
    mix-blend-mode: hard-light;

    //ANIMATION
    animation:move 800ms forwards linear 2s 3 alternate;
  }
}